/* Evita el texto largo y ajusta descripción */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* ✅ Agregamos la versión estándar */
  line-clamp: 2;
}
